const numbers = [10, 20, 30]

numbers.map(function(number) {
  return number + 1
})
// expected output: [11, 21, 31]

numbers.filter(number => number !== 20)
// expected output: [10, 30]

numbers.reduce((sum, number) => sum + number, 0)
// expected output: 60
