const [a, b] = [10, 20]

console.log(a) // expected output: 10
console.log(b) // expected output: 20

const [first, second, ...rest] = [10, 20, 30, 40, 50]

console.log(rest) // expected output: [30,40,50]

const { foo, bar, ...objectRest } = { foo: 10, bar: 20, c: 30, d: 40 }

console.log(a) // expected output: 10
console.log(b) // expected output: 20
console.log(objectRest) // expected output: {c: 30, d: 40}
