// transpiles to this

React.createElement(
  'div',
  { className: 'shopping-list' },
  React.createElement('h1', null, 'Shopping List for ', props.name),
  React.createElement(
    'ul',
    null,
    React.createElement('li', null, 'Sugar'),
    React.createElement('li', null, 'Bread'),
    React.createElement('li', null, 'Onions')
  )
)
